<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512274984513-55scous4krt90br9e3p1ik0fms68e8il.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512274984513-55scous4krt90br9e3p1ik0fms68e8il</string>
	<key>API_KEY</key>
	<string>AIzaSyARMW4UvnlapR1Q1quWFrnsPJ5zQ9rM5ik</string>
	<key>GCM_SENDER_ID</key>
	<string>512274984513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dizzy.Dizzy.1</string>
	<key>PROJECT_ID</key>
	<string>dizzy-7bc88</string>
	<key>STORAGE_BUCKET</key>
	<string>dizzy-7bc88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512274984513:ios:3e904c178958a8ea11e0c0</string>
	<key>DATABASE_URL</key>
	<string>https://dizzy-7bc88.firebaseio.com</string>
</dict>
</plist>